.Forma input[type="text"] {
    @extend.form-control;
  }
  .Forma input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 30px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .Forma input[type="text"]:focus {
    border-color: #f1659b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.inputi
{position: relative;
top: 12%;
left: 25%;
width: 25%;
}
.Forma h1{
    position: relative;
    top: 7%;
}
.Forma img{
    width: 15%;
    left: 15%;
    top: -2.5%;
    position: relative;
}
#inutt{top: 125%;
    height: 200%;
    position: absolute;
}
#inutt::placeholder{
    position: relative;
    top: 0%;

}
.Forma textarea:focus {
    border-color: #f1659b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.Forma button{
    position: absolute;
    background: #D7537A;
    width: 8%;

    border-radius: 37px;top: 62.5%;
    left: 33.5%;
}